
.font-tiny,
.font-8 {
  /*font-size: 8px !important;*/
  font-size: .6rem !important;
}
.font-small,
.font-10 {
  /*font-size: 10px !important;*/
  font-size: .8rem !important;
}

.font-normal,
.font-12 {
  /*font-size: 12px !important;*/
  font-size: 1rem !important;
}

.font-medium,
.font-14 {
  /*font-size: 14px !important;*/
  font-size: 1.2rem !important;
}

.font-large,
.font-16 {
  /*font-size: 16px !important;*/
  font-size: 1.4rem !important;
}

.font-larger,
.font-18 {
  /*font-size: 18px !important;*/
  font-size: 1.6rem !important;
}

.font-largest,
.font-20 {
  /*font-size: 20px !important;*/
  font-size: 1.8rem !important;
}
